* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.head_block {

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    background-color: #4b6aa9;
}

.child_block {
    border: 5px solid #06bdc1;
    width: 900px;
    min-height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;


}


#generate {
    margin-top: 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: #06bdc1;
    color: white;
    border-radius: 10px;
}